pytube
youtube-transcript-api
openai
argparse
opencv-python
imutils
git+https://github.com/huggingface/transformers@main
protobuf
accelerate
pillow
timm
matplotlib
tiktoken
flask
flask_socketio
eventlet
redis
